    /* font-family: 'Roboto Slab', serif;
    font-family: 'Montserrat', sans-serif; */

.formularioRegistroCliente{
margin-top: 1em;
margin-left: 4em;
margin-right: 4em;

}

h1{
    font-family: 'Roboto Slab', serif;

}
h2{
    font-family:'Montserrat', sans-serif;
}
p{
    font-family:'Montserrat', sans-serif;
}
label{
    font-family:'Montserrat', sans-serif;
}
.btn{
    font-family:'Montserrat', sans-serif;
}
.tituloSeccion{
    background-color: #225378;
    color: white;
}
.terminosCondiciones{
    font-family: 'Montserrat', sans serif;
    font-size: 10pt;
} 