/* Color Theme Swatches in Hex */
.Copia-de-Health-Care-1-hex {
    color: #225378;
}

.Copia-de-Health-Care-2-hex {
    color: #1595A3;
}

.Copia-de-Health-Care-3-hex {
    color: #ACF0F2;
}

.Copia-de-Health-Care-4-hex {
    color: #F2FFE3;
}

.Copia-de-Health-Care-5-hex {
    color: #691353;
}

/*colores de fondos*/

.bg-Copia-de-Health-Care-1-rgba {
    background-color: #225378;
}

.bg-Copia-de-Health-Care-3-hex {
    background-color: #F2FFE3;
}


/*color de letras*/
h1 {
    font-family: 'Roboto Slab', serif;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}

h3 {
    font-family: 'Montserrat', sans-serif;
}

h5 {
    font-family: 'Montserrat', sans-serif;
}


p {
    font-family: 'Montserrat', sans-serif;
}

label {
    font-family: 'Montserrat', sans-serif;
}

.btn {
    font-family: 'Montserrat', sans-serif;
}